.details:first-letter {
  text-transform: capitalize;
}
.title {
  text-align: center;
}
body {
  background: url('./components/gratisography-greyscale-city-landscape.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .mainSearch {
  height: 75vh;
} */
.defaultSetter {
  background-color: rgba(32, 32, 32, 0.877);
  -webkit-clip-path: polygon(0% 0%, 87% 0, 100% 50%, 87% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 87% 0, 100% 50%, 87% 100%, 0% 100%);
}
.temp {
  height: 3em;
}
.error-card {
  text-align: center;
  width: 100%;
  justify-content: center;
  padding-bottom: 0.5em;
}
.singleCard {
  margin: 0.5em;
  border-radius: 5%;
  padding: 0.5em;
  border: 1px solid grey;
  -webkit-box-shadow: 3px 4px 8px -1px #000000;
  box-shadow: 3px 4px 8px -1px #000000;
}
.icon-img {
  height: 3.5em;
}

@media only screen and (min-width: 670px) {
  .fl {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
